<%page expression_filter="h"/>

<%!
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from branding import api as branding_api
%>

<%block name="pagetitle">${_("Sign in")}</%block>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="body">

  <div id="content-container" class="login-register-content">

    <div id="login-and-registration-container" class="login-register">
      <header class="global-header ">
        <div class="main-header">
          <h1 class="header-logo">
            <a class="sync-learner-account-logo" href="${reverse('dashboard')}">
              <img  class="logo" src="${branding_api.get_logo_url(is_secure)}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
            </a>
          </h1>
        </div>
      </header>

    <section id="login-anchor" class="form-type">
      <div id="login-form" class="form-wrapper">
        <div class="sync-learner-account-login">
          <div class="welcome-message">Welcome to edX for ${enterprise_customer['name']}.</div>
            <div class="account-info-message">
              <div>
                Continue learning as [EMAIL ADDRESS]. Your learning history will not be shared with ${enterprise_customer['name']} without your explicit consent.
              </div>
              <div>
                Account settings taken from your ${enterprise_customer['name']} account may have changed and are no linger editable on edX. You can unlink your account at any time.
              </div>
            </div>

          <div class="account-details">
            <div class="field full_name">
              <div class="label">Full Name</div>
              <div class="name">${user_details['fullname']} </div>
              <div class="previously">${current_user.get_full_name()}</div>
            </div>

            <%
                user_country = current_user.profile and current_user.profile.country and current_user.profile.country.name
            %>
            % if user_details.get('country') or user_country:
              <div class="field country">
                <div class="label">Country of residence</div>

                <div class="field country">${user_details.get('country') or user_country}</div>
                <div class="previously">${user_country}</div>
              </div>
            %endif
          </div>

          <button type="submit" class="action action-primary action-update js-login login-button">${_("OK")}</button>
          <a>${_("Go to account settings")}</a>
        </div>
      </div>
    </section>
    </div>
  </div>

</% block>
